<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required>
      <div class="valid-feedback">
        Please enter your first name
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="" required>
      <div class="valid-feedback">
        *Optional 
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustomUsername">Email Address</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Email Address" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please enter email address
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Test Name</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="Medical test name" required>
      <div class="invalid-feedback">
        Please mention your test name
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">Referred by</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="Doctor Name" required>
      <div class="invalid-feedback">
      Doctor referred this
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Total Cost</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Amount in ₹" required>
      <div class="invalid-feedback">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Payment is done and Verified
      </label>
      <div class="invalid-feedback">
        Bypass payment.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Generate Bill</button>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>